/* Box sizing rules */
@font-face {
    font-family: "Expo Arabic";
    src: url(EXPO\ ARABIC\ SEMIBOLD.TTF);
  }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd ,
span {
  margin: 0;
  font-family: "Expo Arabic";
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Expo Arabic";
  

}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture {
  max-width: 100%;
  display: block;
  border-radius: 50px;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *********** Custom style ************** */

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(218, 12%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  /* (with 75% opacity for lightbox background) */
}

body {
  overflow-x: hidden;
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* **************** NavBar *************** */

/* Container that contain the others so that they have some space on the left and right side of them */

.container {
  width: 100%;
  margin: auto;
  padding: 1.5rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container,
.logo-ctn,
.cart-ctn {
  display: flex;
  gap: 1.75rem;
  align-items: center;
}

/* Gray overlay to body when side navbar pops-up on the mobile size */

.show-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: all 500ms;
  background: rgba(0, 0, 0, 0.7);
}



/* Adding this class to navigation box, to come in the screen when navigation menu is clicked. */

.show-nav {
  transform: translateX(0%);
}



/* Shopping Cart icon */

.cart-ctn {
  margin-left: auto;
  position: relative;
  margin-right: 0.5rem;
}

.cart-icon:hover {
  cursor: pointer;
  color: var(--Very-dark-blue);
}

.cart-notify {
  font-size: 0.55rem;
  position: absolute;
  top: -8px;
  right: -20px;
  font-weight: bold;
  line-height: 1.4;
  padding: .1rem 0.4rem;
  color: var(--White);
  border-radius: 50px;
  background:#0163bd;
}

.show-cart-notification {
  display: block;
}

/* Cart modal */

.cart-modal {
  width: 400px;
  height: 385px;
  top: 5.5rem;
  left: 50%;
  z-index: 10;
  transform: translateX(50%);
  opacity: 0;
  position: absolute;
  border-radius: 10px;
  background: var(--White);
  transition: all 500ms ease-in-out;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2),
    -10px 10px 30px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.modal-title
{
    padding: 10px;
}
.modal-title::after
{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #0163bd;
    left: 0;
    top: 16%;
    position: absolute;
    
}
.modal-product
{
   
    width: 99%;
    height: 35%;
    margin-top: 26px;
    border-radius: 15px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    

}
.modal-product img 
{
    width: 30%;
    border-radius: 10px;
    height: 100%;
  
}
.modal-product-title
{
    margin-top: -120px;
    margin-left: 230px;
  
}
.close
{
    margin-left: 77%;
   
}
.close:hover
{
    color: red;
    transition: .2s;
} 


.modal-buttons
{
    margin-left: 125px;
    margin-top: 11px;
    display: flex;
    gap: 19px;

}
.delete-button {
   
 
    width: 38px;
    height: 40px;
    border-radius: 91%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-left: -5px;
    color: white;
  }
  
 .modal-price
 {
    
    border-top: 3px solid #1072B8;
    border-radius: 71px;
    margin-left: -3px;
    display: block;
    position: fixed;
    top: 170px;
    width: 100%;
    content: '';
    margin-top: 157px;
    text-align: right;
 }
 .modal-price h1 
 {
    padding: 10px 20px;
 }




/* Cart modal should only be visible when cart icon is clicked */

.show-card-modal {
  display: block;
  opacity: 1;
  transform: translateX(-50%);
}

/* User profile circle  */

.user-pf-ctn {
  width: 1.75rem;
  border-radius: 50%;
}

.user-pf-ctn:hover {
  cursor: pointer;
  border: 2px solid #0163bd;
}

@media screen and (max-width: 680px) {
    .main-pdt-img
    {
      width: 261px;
      margin: auto;
      padding: 20px;
     
    }
    .cart-modal
    {
        width: 384px;
        border: solid #0163bd 3px;
        font-size: 12.3px;
    }
    .modal-product
    {
        margin-top: 30px;

    }
    .modal-product-title {
        margin-top: -107px;
        margin-left: 219px;
    }
    .edit-pm
    {
        margin-left: -5px;
        margin-top: 7px;
    }
  
  
  }
  
@media screen and (min-width: 800px) {
  
  .cart-ctn {
    margin-right: 1.5rem;
  }
  .cart-modal {
    left: 75%;
    transform: translateX(50%);
  
  }
  .show-card-modal {
    transform: translateX(-50%);
  }
  .user-pf-ctn {
    width: 3rem;
  }
}

/* ***************** Main **************** */

main {
  max-width: 500px;
  margin: 0 auto;
}

/* ************ Product slideshow for mobile size *********** */

/* Slideshow container */

.slideshow-container__mobile {
  position: relative;
  margin: 0 auto;
  z-index: 0;
}

/* Hide the images by default */

.mySlides,
.mySlides__desktop {
  display: none;
}

.mySlides img,
.mySlides__desktop img {
  max-width: 100%;
}

/* Next & previous buttons */

.prev,
.modal__prev,
.next,
.modal__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 50px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--White);
  margin-top: 112px;
  box-shadow: 0 0 3px 0 black;
}

/* Position the "previous button" to the right */

.prev,
.modal__prev {
  left: 1rem;
}

/* Position the "next button" to the right */

.next,
.modal__next {
  right: 1rem;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.modal__prev:hover,
.next:hover,
.modal__next:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Fading animation */

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ********** Product showcase section at desktop size */

.main-pdt-ctn img {
  border-radius: 10px;
}

.pdt-images-ctn {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  padding: 0px 20px;
  justify-content: center;
}

.pdt-images-ctn img {
  opacity: 1;
  border-radius: 10px;
  transition: opacity 300ms;
  width: 105px;
}

.pdt-images-ctn .pdt-image-ctn {
  border-radius: 10px;
}

/* Active product image */

.pdt-images-ctn .active-img-ctn {
  outline: 3px solid var(--Orange);
}

.pdt-images-ctn .active-img-ctn img {
  opacity: 0.4;
}

.pdt-images-ctn img:hover {
  opacity: 0.4;
}



@media screen and (min-width: 800px) {
  main {
    margin: 5rem auto;
    width: 90%;
    display: grid;
    gap: 5rem;
    align-items: center;
    grid-template-columns: 0.75fr 1fr;
    max-width: 1050px;
    padding: 20px;
  }

  .slideshow-container__mobile {
    display: none;
  }
  .pdt-showcase-ctn .main-product-img {
    border-radius: 10px;
  }
}

/* ********* Product Information section ******** */

.pdt-content-ctn {
  padding: 1.75rem;
  font-family: inherit;
  /* width: 90%;
    margin: 2rem auto; */
}

.company-name {
  font-size: 2rem;
  font-weight: 900;
  color: #0163bd;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}



.pdt-desc {
  line-height: 1.6;
  color: var(--Dark-grayish-blue);
}

.pricing-ctn {
  margin: 1.75rem 0 1.25rem;
}

.pricing-ctn,
.pricing-ctn div:first-child,
.pricing-ctn span.discount,
.pdt-quantity-ctn,
.pdt-quantity-ctn span.minus-icon,
.pdt-quantity-ctn span.plus-icon,
.cart-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing-ctn span.final-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--Very-dark-blue);
}

.pricing-ctn span.discount {
  margin-left: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: bold;
  color: #0163bd;
  padding: 0rem 0.25rem;
  background: #0163bd52;
  margin-right: 10px;
}

.pricing-ctn span.actual-price {
  color: var(--Grayish-blue);
  font-weight: normal;
  text-decoration: line-through;
}

.cart-section {
  flex-direction: column;
}

@media screen and (min-width: 975px) {
  .cart-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }

  .company-name {
    margin-bottom: 1.25rem;
  }

  .cart-section .pdt-quantity-ctn {
    margin: 0;
    font-size: 1.2rem;
  }
}

.pdt-quantity-ctn {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  background: var(--Light-grayish-blue);
}
.edit-pm
{
    width: 70%;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: -1px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}


.pdt-quantity-ctn span.minus-icon,
.pdt-quantity-ctn span.plus-icon {
  opacity: 1;
  transition: opacity 300ms;
}

.pdt-quantity-ctn span.minus-icon:hover,
.pdt-quantity-ctn span.plus-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.pdt-quantity-ctn span.pdt-quantity {
  font-weight: bold;
}

.addToCart-btn-ctn {
  width: 100%;
}

#addToCart-btn {
  width: 100%;
  border: none;
  padding: 1rem 0;
  color: var(--White);
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  opacity: 1;
  background: #0163bd;
  transition: opacity 300ms;
  box-shadow: 0px 20px 30px var(--Pale-orange);
}

#addToCart-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

#addToCart-btn,
.cart-icon {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* ************** Product showcase modal ************** */

main {
  position: relative;
}

.pdt-showcase-modal__desktop {
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  padding: 2rem 2.1rem 0;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  display: none;
}


.show-pdt-slideshow-modal {
  display: flex;
}




.main-pdt-slideshow__modal {
  border-radius: 15px;
  background-color: var(--White);
}

.pdt-img__modal {
  border-radius: 15px;
}

.pdt-images-ctn__modal {
  width: 80%;
  margin: 1.5rem auto;
}

.pdt-images-ctn__modal .pdt-image-ctn {
  background-color: var(--White);
}


.active-pdt-img__modal {
  outline: 3px solid var(--Orange);
}

/* **************** Footer *************** */

footer {
  margin: 3rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
